<div class="container">
  <h1 style="text-align:center">Word Count</h1>
  <hr>
  <h3>How it works:</h3>
  <ul>
    <li><h4><em><strong>Word Count</strong></em> is a  website that is used to find the number of times a certain word repeats itself in a sentence.</h4></li>
    <li><h4>The user inputs the word he wants to find and the sentence he wants to look for the word in then submits.</h4></li>
    <li><h4>The website then loops through the sentence and finds that word as many times as it has been used then outputs the results</h4></li>
</ul>
</div>
<hr>

<form class="form" action="/result">
  <div class="form-group">
    <label for="number">Enter the word:</label>
  <input id="word" name="word" type="text" placeholder="input any word">
  </div>
  <div class="form-group">
    <label for="number">Enter the sentence:</label>
  <input id="sentence" name="sentence" type="text" placeholder="input your sentence" rows="4" class="form-control">
  </div>
  <button type="sumit" name="button" class="btn btn-primary" id="show">Submit</button>
</form>

<div class="output">
  <h2>Here is your result:</h2>
  <h3>The word <em><strong><%= @word %></strong></em> in the sentence <br> <em><strong><%= @sentence %></strong></em><br> has been repeated:</h3>

  <h3 name="result"> <em><strong><%= @result%></strong></em> time(s)</h3>
  <button type="submit" name="button" class="btn btn submit"> <a href="/">Submit new question</a></button>
</div>
